pkgbase = rustmail-bin
	pkgdesc = Self-hosted SMTP mail catcher with web UI, REST API, and CI assertions
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/rustmailapp/rustmail
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = glibc
	provides = rustmail
	conflicts = rustmail
	source_x86_64 = https://github.com/rustmailapp/rustmail/releases/download/v0.7.0/rustmail-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 7a7e8c4a1d552d04e5ee3673d227b651f6bddea952e6d33098c61e8350026a37
	source_aarch64 = https://github.com/rustmailapp/rustmail/releases/download/v0.7.0/rustmail-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 0adf28712f0f086c38f67735cec68ce43df6cb6f986e7cb1c0faf5558da930aa

pkgname = rustmail-bin
