pkgbase = rustmail-bin
	pkgdesc = Self-hosted SMTP mail catcher with web UI, REST API, and CI assertions
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rustmailapp/rustmail
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = glibc
	provides = rustmail
	conflicts = rustmail
	source_x86_64 = https://github.com/rustmailapp/rustmail/releases/download/v0.2.1/rustmail-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = bf2323c8508b8b17d332a1313f047ed5fc9f261b85db86871a61aad4abcc12b3
	source_aarch64 = https://github.com/rustmailapp/rustmail/releases/download/v0.2.1/rustmail-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 8bac2f279ef8509e496ee2795eee5d1b4a26c675abb193fe30035f2fd0ccf5d2

pkgname = rustmail-bin
